---
title: App for digital neighborhood watch
description: An app for digital neighborhood watch built with Swift for iOS and Java for Android. Backend was built upon Parse. Mockups built with Sketch.
---

<h1>Tuva</h1>

<p><%= image_tag 'projects/tuva.png', class: 'jv-FullPreview' %></p>

<!--
<p class='u-centerText' role='menu'>
  <a href='/files/justvector.zip' class='Btn Btn--large Btn--cta'>Download (.zip)</a>
</p>
-->

<p>	An app and concept for digital neighborhood watch built with Swift for iOS and Java for Android. Backend was built upon Parse. Mockups built with Sketch.<!--(see <a href="#license-info">License</a>).</p>-->

<p>The app was used by total 10 028 users.</p>

<h2>About</h2>

<section class='MediaAppearances-thumb'>
    <%= image_tag 'projects/youtube.png' %>
    <br>
      <a href="https://youtu.be/7S9HbWiGxDE">YouTube</a>
</section>

<!--<p><a href="http://www.adobe.com/products/illustrator/">Adobe Illustrator</a>, <a href="http://www.adobe.com/products/freehand/">Freehand</a>, <a href="http://www.corel.com/">CorelDRAW</a> and <a href="http://inkscape.org/">Inkscape</a>) files.</p>-->

<h2 id="license-info">Hardware Concept</h2>

<p><%= image_tag 'projects/connect.png', class: 'jv-FullPreview' %></p>

<p>Concept developed and tested on the market 2015</p>

<p><em>"Alarm requires mounting of sensors in windows and doors. It is not necessary. Our alarm unit should
easily placed in the home without assembly. The design should be so appealing that it becomes one
interior detail, without sacrificing the impression of security and security."</em></p>

<!--
<p class='Callout'>
  <strong>2016 Update:</strong>Thank you for all of your suggestions - there are obviously a few key ones (like Instagram) missing. I'm working on them, expect a new release very soon 😁!
</p>
-->

<h2>Style</h2>

<p><%= image_tag 'projects/browser.png', class: 'jv-FullPreview' %></p>

<a href="https://github.com/emilingemarkarlsson/tuvapp-style">Github</a>


<h2>Voice</h2>

<p><%= image_tag 'projects/voice.png', class: 'jv-FullPreview' %></p>

<a href="https://github.com/emilingemarkarlsson/tuvapp-voice">Github</a>
