---
title: Projects (concepts and open source)
description: The various personal projects I've released from 2010-2016 - mainly JS & Ruby libraries. Pretty much everything was made just for fun, and is open-source and released under MIT/copy-left licenses.
---
<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
    <%= image_tag 'projects/io-et.png' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2 id='site'>
    Amazon affiliate site with forum
    </h2>
    <h3>Ongoing project built upon flarum and python</h3>

    <p>
    </p>
  </section>
</article>
<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
    <%= image_tag 'projects/signature.png' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2 id='site'>
      Email Signature Generator
    </h2>
    <h3>Support and adjust github project</h3>

    <p>
      <a href='https://github.com/emilingemarkarlsson/email-signature-extended' class='Btn Btn--source'>
        Source
      </a>
    </p>
  </section>
</article>
<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
    <%= image_tag 'projects/powerbi.png' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2 id='site'>
      Power BI
    </h2>
    <h3>Daily work tool</h3>

    <p>
      <a href='https://powerbi.microsoft.com/en-us/' class='Btn'>
        Source
      </a>
    </p>
  </section>
</article>
<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
    <%= image_tag 'projects/gdpra.png' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2 id='site'>
      GDPR Activity Hub
    </h2>
    <h3>Support github project</h3>

    <p>
      <a href='https://github.com/SharePoint/sp-dev-gdpr-activity-hub' class='Btn Btn--source'>
        Source
      </a>
    </p>
  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
    <%= image_tag 'projects/gdpr.png' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2 id='site'>
      GDPR Checklist
    </h2>
    <h3>Support github project</h3>

    <p>
      <a href='https://gdprchecklist.io/' class='Btn Btn--source'>
        Source
      </a>
    </p>
  </section>
</article>


<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
    <%= image_tag 'projects/quizflow.png' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2 id='site'>
      Quizflow
    </h2>
    <h3>Sign-up page</h3>

    <p>
      <a href='https://github.com/emilingemarkarlsson/quizflow' class='Btn Btn--source'>
        Source
      </a>
    </p>
  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
  </aside>

  <section class='TimelineItem-details'>
    <h2>Progressive Safety</h2>
    <h3>iOS and Android app</h3>
    <p>Web site to progressive safety. Built upon laravel framework. Now being developed and maintained by others. <a href='http://progressivesafety.se'>Progressive Safety</a>.</p>
    <p>
    </p>
  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
  </aside>

  <section class='TimelineItem-details'>
    <h2>Dagens Vimmerby</h2>
    <h3>iOS and Android app</h3>
    <p>Concept development for simple apps <a href='https://dagensvimmerby.se'>Dagens Vimmerby</a>.</p>
    <p>
    </p>
  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
  </aside>

  <section class='TimelineItem-details'>
    <h2>Raddamaten</h2>
    <h3>Node.js</h3>
    <p>Concept development of web plattform to the company raddamaten acquired by <a href='https://karma.life/sv/'>Karma</a>.</p>
    <p>
    </p>
  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
  </aside>

  <section class='TimelineItem-details'>
    <h2>Coptercaps</h2>
    <h3>Node.js</h3>
    <p>Website for consultant project built with node.js upon this <a href='https://github.com/sahat/hackathon-starter'>boilerplate</a>.</p>
    <p>
      <a href='https://github.com/emilingemarkarlsson/gtokenizer' class='Btn Btn--source'>
        Source
      </a>
    </p>
  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
    <%= image_tag 'projects/ticset.png' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2 id='legacy'>Tickset</h2>
    <h3>Projects that I've retired</h3>
    <p>Qr Scanner app built upon Swift. Mockups in Sketch. The app has now been replaced by this on appstore. </p>
    <p><a href='http://www.tickset.com/'>www.tickset.com</a></p>

  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
    <%= image_tag 'projects/tuva.png' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2><%= link_to 'Tuva', '/projects/tuva' %></h2>
    <h3>App and IoT concept</h3>
    <p>An app and concept for digital neighborhood watch built with Swift for iOS and Java for Android. Backend was built upon Parse. Mockups built with Sketch.</p>

    <p>
      <%= link_to 'More info & download', '/projects/tuva', class: 'Btn' %>
    </p>
  </section>
</article>

<article class='TimelineItem TimelineItem--topLink'>
  <section class='TimelineItem-footer'>
    <h3><a>Take me back to the top!</a></h3>
  </section>
</article>
